body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.footer a {
    color: #2a538e;
}

/*sidebar fontfamily unity reset*/
.well {
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.sidebar a {
    color: #2a538e;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #4b95ff;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #7a7a7a;
    font-size: 1.7em;
    font-family: "Myriad Pro Reg", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.author {
    color: #7a7a7a;
}

.author a {
    color: #7a7a7a;
}

.article p {
    font-size: 1.4em;
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.article h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro Reg", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.navbar-brand {
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light","Microsoft YaHei", serif;
}

.active {
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light", "Microsoft YaHei", serif;
}

.article li {
    font-size: 1.4em;
    font-family: "HelveticaNeue LT", "Microsoft YaHei UI Light","Microsoft YaHei", serif;
}

code {
    font-family: "Monaco";
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}