<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/favicon.ico">
        <title>{{ page.title }}</title>
    </head>

    <body>

        <div style="margin: 2% 5% 2% 5%">
            <table>
                <tr>
                    <td width="60%">
                        <div style="padding: 2% 8% 5% 8%; border: 1px solid Lightgrey;">
                            <h2>{{ page.title }}</h2>
				{{ content }}
			</div>
		    </td>
		</tr>
	    </table>
	</div>
    </body>
</html>

	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/highlight.js"></script>
	<script>
		$('p').highlight(['yousa'], ['??'], ['??'], ['???'], ['???']);
	</script>